{% extends "base.html" %}
{% block head %}
      <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}

<div class="page-header">
  <a name="demo"></a><h1>Integreated Sensor Network<small></small></h1>
  <blockquote class="bg-info">
  <span class="label label-primary">[[data.clients]]</span> clients connecting <br>
  <p id="data">
  </p>
  </blockquote>
<!--   <div id="panel" class="row">
    <div class="form-group col-sm-3">
          <label>Averaging times:</label>
          <select class="form-control" ng-model="avewindow" ng-change="changeAve()">
            <option>1</option>
            <option>10</option>
            <option>40</option>
            <option>100</option>
          </select>

          <label>Y-axis Range: <span class="badge">[[range]] Pa</span></label>
          <input type="range" name="points" min="10" max="1000" step="20" ng-model="range">
          <label>Center Value:</label>
          <input type="number" class="form-control" ng-model="middle">
    </div>
  </div> -->
</div>

<div class="panel panel-default col-sm-4 panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Temperature</h3>
  </div>
  <div  class="panel-body"  id="pmv">
</div>
</div>
<div class="panel panel-default col-sm-4 panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Radiant temperature <span class="label label-primary ng-binding">[[data.radi]]</span></h3>
  </div>
  <div  class="panel-body" id="radi">
  </div>
</div>
<div class="panel panel-default col-sm-4 panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Thermography</h3>
  </div>
  <div  class="panel-body" id="ir">
    <div ng-repeat="n in data.ir track by $index" class="heatmap col-xs-3" ng-class=" {'bg-info': data.ir[$index] <= 26, 'bg-warning': data.ir[$index] > 26 &&data.ir[$index] <=29, 'bg-danger': data.ir[$index] > 29}"> </div>
</div>
</div>

<div class="panel panel-default col-sm-4 panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-sun-o" aria-hidden="true"></i> Brightness</h3>
  </div>
  <div  class="panel-body" id="light">
<span class="label label-primary ng-binding">[[data.light]]</span>
      <canvas id="canvBrightness" ></canvas>
</div>
</div>
<div class="panel panel-default col-sm-4 panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-leaf" aria-hidden="true"></i> Air pressure</h3>
  </div>
  <div  class="panel-body" id="pres">
<span class="label label-primary ng-binding">[[data.pres]]</span>
</div>
</div>

<div class="panel panel-default col-sm-4  panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-tint" aria-hidden="true"></i> Humidity</h3>
  </div>
  <div  class="panel-body" id="humi">
<span class="label label-primary ng-binding">[[data.humi]]</span>
</div>
</div>

<div class="panel panel-default col-sm-4 panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-battery-half" aria-hidden="true"></i> Sensor Battery Voltage</h3>
  </div>
  <div  class="panel-body" id="bat">
<span class="label label-primary ng-binding">[[data.bat]]</span>
</div>
</div>
<div class="col-sm-6 col-md-5">
<a name="concept"></a>
    <div class="thumbnail">
      <img src="{{ url_for('static', filename='img/concept.png') }}" alt="...">
      <div class="caption">
        <h3>Understand and Support Your Activity</h3>
        <p>
        <ul>
        <li>Integrated Sensor Network Deployment</li>
        <li>Service & Application Interface</li>
        <li>Activity Support</li>
        </ul>
        </p>
        <!-- <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p> -->
      </div>
    </div>
  </div>
<div id="log"></div>
{% endblock %}
